<div class="row row1">
  <div class="col leftside s12 l6 m6">
    <div style="" class="content">
				<div class="grid">
					<figure (click)="showDialog(1)" class="effect-sadie">
						<img src="assets/Images/run.jpeg" alt="img02"/>
						<figcaption>
							<h4>Running</h4>
							<p>Click to add running time</p>
						</figcaption>
          </figure>
          </div>
          <div style="padding-top: 60px" class="grid">
					<figure (click)="showDialog(3)" class="effect-sadie">
						<img src="assets/Images/jog.jpeg" alt="img14"/>
						<figcaption>
								<h4>Jogging</h4>
							<p>Click to add Jogging time</p>

						</figcaption>
					</figure>
        </div>
        <div style="padding-top: 60px" class="grid">
					<figure (click)="showDialog(4)" class="effect-sadie">
						<img src="assets/Images/bic.jpg" alt="img14"/>
						<figcaption>
                <h4>Cycling</h4>
                <p>Click to add Cycling time</p>

						</figcaption>
					</figure>
        </div>
        <div style="padding-top: 60px" class="grid">
					<figure (click)="showDialog(2)" class="effect-sadie">
						<img src="assets/Images/swim.jpeg" alt="img14"/>
						<figcaption>
                <h4>Swimming</h4>
                <p>Click to add Swimming time</p>

						</figcaption>
					</figure>
        </div>
        <div style="padding-top: 60px" class="grid">
					<figure (click)="showDialog(5)" class="effect-sadie">
						<img src="assets/Images/dance.jpeg" alt="img14"/>
						<figcaption>
                <h4>Dancing</h4>
                <p>Click to add Dancing time</p>

						</figcaption>
					</figure>
				</div>

			</div>
</div>
<div  class="col s12 l6 left">
    <button class="calender button" (click)="picker.open()">
        <i style="padding-top: 5px" ></i>I exercised on
      </button>
  <div>

    <h5 class=" amber-text "   style="margin-top: 20px; margin-bottom: 0px">Augest 2018</h5>
    <h4 class=" amber-text "  style="margin: 0">{{zz | date : 'd'}}</h4>
  </div>
    <mat-form-field style="opacity:0 ; height:0px; width: 0px; position: absolute;top: -6px; left: 32px">
      <input matInput [matDatepicker]="picker" [(ngModel)]="zz" (ngModelChange)="onChange($event)" name="date">
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


<div class="cal">
  <p style="text-align: center;"><span  style="font-size: 70px; color: #34495e" span>{{calories}}</span>Cal</p></div>
  <p *ngIf="quot" class="quot red-text">Start to Exercise</p>
  <p *ngIf="!quot" class="quot amber-text">You are half way</p>
  <p *ngIf="!quot" class="quot  green-text">Great acheived target</p>
</div>
</div>
<p-dialog   [(visible)]="display" [modal]="true" [responsive]="true" [positionLeft]="404" [positionTop]="71" [width]="350" [height]="400" [minWidth]="200" [minY]="70"
[dismissableMask]="true" >
<h5 *ngIf="a">Running</h5>
<h5 *ngIf="b">Swiming</h5>
<h5 *ngIf="c">Jogging</h5>
<h5 *ngIf="d">Cycling</h5>
<h5 *ngIf="e">Dancing</h5>
<p style="color: red">Approximate calories used (burned) by a 65-kg man</p>

<label *ngIf="a" class="lable">Time spent on Running in min</label>
<label *ngIf="b" class="lable">Time spent on Swiming in min</label>
<label *ngIf="c" class="lable">Time spent on Jogging in min</label>
<label *ngIf="d" class="lable">Time spent on Cycling in min</label>
<label *ngIf="e" class="lable">Time spent on Dancing in min</label>
<input class="browser-default" type="number" [(ngModel)]="run" pInputText />

<p-footer>
    <button class="waves-effect  btn-flat"  (click)="display=false" >Close</button>
    <button *ngIf="a" class="waves-effect  btn-flat" (click)="calcRun()"  >save</button>
    <button *ngIf="b" class="waves-effect  btn-flat" (click)="calcSwim()"  >save</button>
    <button *ngIf="c" class="waves-effect  btn-flat" (click)="calcJog()"  >save</button>
    <button *ngIf="d" class="waves-effect  btn-flat" (click)="calcCyc()"  >save</button>
    <button *ngIf="e" class="waves-effect  btn-flat" (click)="calcDan()"  >save</button>
</p-footer>
</p-dialog>
