<div class="wrapper">
  <div class="container">
    <div *ngIf="register">
      <h1 *ngIf="olduser">Welcome</h1>
      <h1 *ngIf="!olduser">Create your account</h1>

      <form   *ngIf="olduser" class="form">
        <input type="text" class="browser-default" placeholder="Username">
        <input type="password" class="browser-default" placeholder="Password">
        <button type="submit" id="login-button">Login</button>
        <br>
        <a (click)="login()" class="social-button" id="google-connect">
          <span>Google</span>
        </a>
        <br>
        <a style="cursor: pointer" (click)="toggle()" class="register">Register here</a>
      </form>
      <form *ngIf="!olduser" class="form">
        <input type="text" class="browser-default"  [(ngModel)]="userdetails.name" name="username" placeholder="Username">
        <input type="email" class="browser-default" [(ngModel)]="userdetails.email" name="email" placeholder="Email">
        <input type="password" class="browser-default" placeholder="Password">
        <button type="submit" (click)="user()" id="login-button">Create Account</button>
        <br>
        <a style="cursor: pointer" (click)="toggle()" class="register">Already a member ? Sign in</a>
      </form>
    </div>
    <div *ngIf="!register">
      <div *ngIf="physical">
      <form class="form">
        <input type="number" class="browser-default" [(ngModel)]="userdetails.height" name="height" placeholder="Height">
        <input type="number" class="browser-default" [(ngModel)]="userdetails.weight" name="weight" placeholder="Weight">
        <input type="number" class="browser-default" [(ngModel)]="userdetails.age" name="age" placeholder="Age">

       <mat-radio-group class="ra" [(ngModel)]="userdetails.gender" name="gender">
            <mat-radio-button style="margin-right: 10px" value="male">Male</mat-radio-button>
            <mat-radio-button style="margin-left: 10px" value="female">Female</mat-radio-button>
          </mat-radio-group>

          <button type="submit" id="login-button" (click)="back()" >Back</button><br>
        <button type="submit" id="login-button" (click)="physicaltog()">Next</button>
        <br>
      </form>
    </div>
    <div *ngIf="!physical">
        <div id="modal7" [style.display]="display" class="modal modal-fixed-footer" >
            <div class="modal-content">
              <h5>Target Nutrition</h5>


              <div class="row">
                  <label class="lable">Calories: &nbsp; &nbsp; &nbsp; &nbsp;</label>
                  <input class="browser-default inp" type="text" [(ngModel)]="editcalorie" pInputText /><br><br>
                  <label class="lable">Carbs: &nbsp; &nbsp; &nbsp; &nbsp;</label>
                  <input style="margin-left: 16px;" class="browser-default inp" type="text" [(ngModel)]="editcarbmin" pInputText />&nbsp; &nbsp;
                  <input class="browser-default inp" type="text" [(ngModel)]="editcarbmax" pInputText /><br><br>
                  <label class="lable">Protein: &nbsp; &nbsp; &nbsp; &nbsp;</label>
                  <input style="margin-left: 6px;" class="browser-default inp" type="text" [(ngModel)]="editpromin" pInputText />&nbsp; &nbsp;
                  <input class="browser-default inp" type="text" [(ngModel)]="editpromax" pInputText /><br><br>
                  <label class="lable">Fats: &nbsp; &nbsp; &nbsp; &nbsp;</label>
                  <input style="margin-left: 28px;" class="browser-default inp" type="text" [(ngModel)]="editfatmin" pInputText />&nbsp; &nbsp;
                  <input class="browser-default inp" type="text" [(ngModel)]="editfatmax" pInputText />

                        </div>



            </div>
            <div class="modal-footer">
                <a class=" modal-action modal-close waves-effect waves-yellow btn-flat" (click)="save()">Save </a>
              <a class=" modal-action modal-close waves-effect waves-yellow btn-flat" (click)="toggleDisplay()" >Close</a>
            </div>
          </div>
        <form class="form">


          <button    > Additionl info</button>

            <p>Suggested Calorie&nbsp;:2400 <br><a class=" edit modal-trigger"(click)="toggleDisplay()"  data-target="modal7">Edit target</a></p>
            <button type="submit" id="login-button" (click)="physicaltog()" >Back</button><br>
          <button type="submit" id="login-button" (click)="submit1()" >Submit</button>
          <br>


        </form>
      </div>
    </div>

  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>


