<div class="wrapper">
  <div class="container">
    <div *ngIf="register">
      <h1 *ngIf="olduser">Welcome</h1>
      <h1 *ngIf="!olduser">Create your account</h1>

      <form   *ngIf="olduser" class="form">
        <input type="text" class="browser-default" placeholder="Username">
        <input type="password" class="browser-default" placeholder="Password">
        <button type="submit" id="login-button">Login</button>
        <br>
        <a (click)="login()" class="social-button" id="google-connect">
          <span>Google</span>
        </a>
        <br>
        <a style="cursor: pointer" (click)="toggle()" class="register">Register here</a>
      </form>
      <form *ngIf="!olduser" class="form">
        <input type="text" class="browser-default"  [(ngModel)]="userdetails.name" name="username" placeholder="Username">
        <input type="email" class="browser-default" [(ngModel)]="userdetails.email" name="email" placeholder="Email">
        <input type="password" class="browser-default" placeholder="Password">
        <button type="submit" (click)="user()" id="login-button">Create Account</button>
        <br>
        <a style="cursor: pointer" (click)="toggle()" class="register">Already a member ? Sign in</a>
      </form>
    </div>
    <div *ngIf="!register">
      <div *ngIf="physical">
      <form class="form">
        <input type="number" class="browser-default" [(ngModel)]="userdetails.height" name="height" placeholder="Height">
        <input type="number" class="browser-default" [(ngModel)]="userdetails.weight" name="weight" placeholder="Weight">
       <mat-radio-group class="ra" [(ngModel)]="userdetails.gender" name="gender">
            <mat-radio-button class="mr-4 " value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>
          <mat-form-field class="drop" >

              <mat-select name="gender" [(ngModel)]="userdetails.activity" name="height">
                <mat-option value="light">Light</mat-option>
                <mat-option value="medium">Medium</mat-option>
                <mat-option value="heavy">Heavy</mat-option>
              </mat-select>
            </mat-form-field>
          <button type="submit" id="login-button" (click)="back()" >Back</button><br>
        <button type="submit" id="login-button" (click)="physicaltog()">Next</button>
        <br>
      </form>
    </div>
    <div *ngIf="!physical">
        <form class="form">

         <mat-radio-group class="ra" [(ngModel)]="userdetails.weightgoal" name="goal">
           <mat-label style="margin-right: 90px">I want to:</mat-label><br>
              <mat-radio-button  value="lose">Lose Weight</mat-radio-button><br>
              <mat-radio-button style="margin-right: 28px" value="maintain">Maintain</mat-radio-button><br>
              <mat-radio-button value="gain">Buid Muscle</mat-radio-button>
            </mat-radio-group>
            <p>Your Target&nbsp;:2400 <br><span class="edit">Edit target</span></p>
            <button type="submit" id="login-button" (click)="physicaltog()" >Back</button><br>
          <button type="submit" id="login-button" (click)="submit1()" >Submit</button>
          <br>
        </form>
      </div>
    </div>

  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
