<div class="wrapper">
  <div style="line-height: 20px;"  id="sidebar" [ngClass]="active ? 'active' : 'false'">
<img  Style="margin-top:30px;" src="assets/Images/apple.png" height="70px" class="circle" width="70px">
      <div Style="margin-top:50px;height:100px">

       <a style="margin-left: 15px;" href="#"> <img height="40px" class="circle" width="40px" src={{photo}}>
<br>
      <span style="margin-left: 20px;">{{name}}</span></a>

      </div>
      <mat-divider ></mat-divider>
      <mat-list >
          <mat-list-item><i class="fa fa-home"></i>Home</mat-list-item>
        <mat-list-item  ><i class="fa fa-bookmark"></i>Saved Foods</mat-list-item>
        <mat-list-item ><i class="fa fa-search"></i>Browse Foods</mat-list-item>
        <mat-list-item ><i class="fas fa-chart-line" ></i>Track Weight</mat-list-item>
        <br>
        <mat-divider ></mat-divider>

        <mat-list-item ><i class="fa fa-share"></i>Share</mat-list-item>
      </mat-list>




    </div>
  <div id="content">
      <button type="button" id="sidebarCollapse"  (click)="toggle()"
      [ngClass]="active ? 'active' : 'false'"  class="navbar-btn">
          <span></span>
          <span></span>
          <span></span>
      </button>
<app-profile></app-profile>
</div>
</div>
