<div *ngIf="load" class="loading">Loading&#8230;</div>
  <div style="line-height: 20px;" class="zbs"  id="sidebar" [ngClass]="active ? 'active' : 'false'">
    <div style="position: absolute">
<img  Style="margin-top:30px;" src="assets/Images/apple.png" height="70px" class="circle" width="70px">
      <div Style="margin-top:50px;height:75px">

       <a [routerLink]="['Profile']" routerLinkActive="router-link-active"  style="margin-left: 15px;" href="#"> <img height="40px" class="circle" width="40px" src={{photo}}>
<br>
      <span style="display: block; text-align: center">{{name}}</span></a>

      </div>
      <mat-divider ></mat-divider>
      <mat-list >
          <mat-list-item [routerLink]="['/main']" ><i class="fa fa-home"></i>Home</mat-list-item>
          <mat-list-item [routerLink]="['Exercise']" ><i class="fas fa-dumbbell"></i>Exercise</mat-list-item>
        <mat-list-item [routerLink]="['Graph']"  ><i class="fas fa-chart-line" ></i>Track Nutrition</mat-list-item>
        <mat-divider ></mat-divider>

        <mat-list-item ><i class="fa fa-share"></i>Share</mat-list-item>
        <mat-list-item (click)="logout()"><i class="fas fa-sign-out-alt"  ></i>Log out</mat-list-item>
      </mat-list>
      <i class=""></i>
</div>


    </div>
    <div class="wrapper">
  <div id="content">
      <button type="button" id="sidebarCollapse"  (click)="toggle()"
      [ngClass]="active ? 'active' : 'false'"  class="navbar-btn">
          <span></span>
          <span></span>
          <span></span>
      </button>
<router-outlet></router-outlet>
</div>
<ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
