<div style="background-color: white; margin: 15px;box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);">
  <p-toast [style]="{marginTop: '80px'}"></p-toast>

<p-chart type="line" [data]="data" (onDataSelect)="selectData($event)"></p-chart>

</div>
<div style="background-color: white; margin: 15px;box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);">
  <p-toast [style]="{marginTop: '80px'}"></p-toast>

<p-chart type="line" [data]="data1" (onDataSelect)="selectData($event)"></p-chart>

</div>
<div style="background-color: white; margin: 15px;box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);">
  <p-toast [style]="{marginTop: '80px'}"></p-toast>

<p-chart type="line" [data]="data2" (onDataSelect)="selectData($event)"></p-chart>

</div>
<div style="background-color: white; margin: 15px;box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);">
  <p-toast [style]="{marginTop: '80px'}"></p-toast>

<p-chart type="line" [data]="data3" (onDataSelect)="selectData($event)"></p-chart>

</div>
