<header>
  <div class="background" @explain>


    <div class="navbar1 bordera">
      <a>FOOD</a>
      <a>EXERCISE</a>
      <a>TRY</a>
      <a>CONTACT</a>
      <a (click)="login()">LOGIN</a>
    </div>
    <div class="headBack">
      <h1 class="anim">EAT
        <br>
        <span class="changetext "> HEALTHY</span>
        <span class="changetext "> Food</span>
      </h1>
    </div>
    <div class="headbottom ">
      <a class="tryoutbutton anim">Give it a shot</a>
      <div class="box">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <div class="try">
    <div class="formsty">
      <div class="row">
        <div class="col s6">
          <form>
            <div class="input-field">
              <label for="age">Age</label>
              <input type="number" id="age" [(ngModel)]="age" name="age">
            </div>


            <p>
              <label>
                <input class="with-gap " value="male" [(ngModel)]="gender" name="group3" type="radio" />
                <span style="padding-right:5px">Male</span>
              </label>
              <label>
                <input class="with-gap" value="female" [(ngModel)]="gender" name="group3" type="radio" />
                <span>Female</span>
              </label>
            </p>
            <div style="margin-top: 21px;" class="input-field">
              <label for="weight">Current Weight</label>
              <input type="number" id="weight" [(ngModel)]="weight" name="weight">
            </div>

            <div style="margin-top: 21px;" class="input-field">
              <label for="height">Current height</label>
              <input type="number" id="height" name="height">
            </div>

            <mat-form-field style="margin-top:12px">
              <mat-select style="height:21px;" [(ngModel)]="work" name="work"placeholder="Favorite food">
                <mat-option value="1">Little/No Exercise</mat-option>
                <mat-option value="2">Moderate Exercise</mat-option>
                <mat-option value="3">Intense Exercise</mat-option>

              </mat-select>
            </mat-form-field>

          </form>
        </div>
        <div class="col calculate">
          <a class="caloriebtn" (click)="calculateCalories()">Calculate</a>
          <div class="res">

            <div *ngIf="loader" class="lds-facebook"><div></div><div></div><div></div></div>
            <p *ngIf="!loader" class="calorievalue">{{editcalorie}}</p>
          </div>

        </div>
      </div>

    </div>
  </div>
  <div class=" featuresmain">
    <div class="row">
      <div class="col s3 features">
        <div class="feature-box">
          <i class="icon icon-basic-world"></i>
          <h5>Check Calorie</h5>
          <p class="feature-box__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
          </p>
        </div>
      </div>

      <div class="col s3 features">
        <div class="feature-box">
          <i class="icon icon-basic-world"></i>
          <h5>Track Calories</h5>
          <p class="feature-box__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
          </p>
        </div>
      </div>

      <div class="col s3 features">
        <div class="feature-box">
          <i class="icon icon-basic-world"></i>
          <h5>Set Goals</h5>
          <p class="feature-box__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
          </p>
        </div>
      </div>

      <div class="col s3 features">
        <div class="feature-box">
          <i class="icon icon-basic-world"></i>
          <h5>Chat with bot</h5>
          <p class="feature-box__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
          </p>
        </div>
      </div>

    </div>
  </div>
</header>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
