.background {
  background-image: linear-gradient(rgba(241, 196, 15, 0.8), rgba(241, 196, 15, 0.8)), url("../../assets/Images/Food.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 77vh;
  width: 100%;
}

.navbar1 {
  margin: 0;
  padding-top: 10px;
  text-align: center;
}
.box{
  margin-left: 77px;
  margin-top: 10px;
}
.box span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;

}
.box span:nth-child(2) {
  animation-delay: -0.2s;

}
.box span:nth-child(3) {
  animation-delay: -0.4s
}

@keyframes animate {
  0% {
opacity: 0;
transform: rotate(45deg) translate(-20px,-20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px,20px);
  }
}
.navbar1 a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 3px;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

div.bordera a:before,
div.bordera a:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: '';
  background: #FFF;
  transition: all 0.3s;
}

div.bordera a:before {
  left: 0px;
  top: 0px;
}

div.bordera a:after {
  right: 0px;
  bottom: 0px;
}

div.bordera a:hover:before,
div.bordera a:hover:after {
  opacity: 1;
  width: 100%;
}

.headBack {
  position: absolute;
  top: 20%;
  left: 10%;
  background-color: #fff;
  height: 40%;
  width: 35%;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  -webkit-text-fill-color: #777 !important;
}

input:-webkit-autofill:hover, input:-webkit-autofill:focus {

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 600s ease-in-out 0s;
}
.headBack h1 {
  padding-top: 10%;
  font-size: 360%;
  font-weight: 700;
  padding-left: 10%;
  background: linear-gradient(rgba(241, 196, 15, 0.8), rgba(241, 196, 15, 0.8)), url("../../assets/Images/Food.jpeg");
  background-position: center;
  background-size: cover;
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
}

h1 span {
  position: absolute;
  left: 10%;
  top: 88%;
  background: linear-gradient(rgba(241, 196, 15, 0.8), rgba(241, 196, 15, 0.8)), url("../../assets/Images/Food.jpeg");
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  overflow: hidden;
  animation: wordchange 5s linear infinite;
  opacity: 0;
}

.headbottom {
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.tryoutbutton {
  color: #fff !important;
  border: 2px solid #fff;
  border-radius: 5%;
  padding: 8px 20px;
  word-spacing: 3px;
  font-size: 20px;
  transition: .3s;
}

.tryoutbutton:hover {
  color: (rgb(241, 196, 15)) !important;
  background-color: white;
}

@keyframes wordchange {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  28% {
    opacity: 0;
    transform: translateY(-50px);
  }
  30% {
    opacity: 1;
    transform: translateY(0px);
  }
  68% {
    opacity: 1;
    transform: translateY(0px);
  }
  70% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

h1 span:nth-child(1) {
  animation-delay: 0s;
}

h1 span:nth-child(2) {
  animation-delay: 2s;
}

.try {
  height: 100vh;
  color: #eee;
  position: relative;
  background: url("../../assets/Images/3.jpeg");
  background-position: center;
  background-size: cover;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.formsty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  padding: 4%;
  background-color: white;
  border-radius: 5px;
  color: black;
  outline-offset: 20px;
  outline: 15px solid #f1c40f;
  width: 50%;
  .calculate {
    text-align: center;
    margin-top: 20%;
  }
}

.caloriebtn {
  background-color: #ffff !important;
  border: 2px solid #f1c40f;
  border-radius: 5%;
  color: #777 !important;
  padding: 8px 20px;
  word-spacing: 3px;
  font-size: 20px;
  transition: .3s;
  margin-left: 30%;
  cursor: pointer;
}

.caloriebtn:hover {
  color: white !important;
  background-color: #f1c40f !important;
  border: 2px solid #f1c40f;
}

.featuresmain {
  height: 77vh;
  margin-top: 80px;
  background: linear-gradient(rgba(241, 196, 15, 0.8), rgba(241, 196, 15, 0.8)), url("../../assets/Images/5.jpeg");
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 5%;
  background-attachment: fixed;
  padding-top: 10%;
}

input {
  width: 180px !important;
}

.row {
  margin-left: auto;
  height: auto;
  margin-top: 20px;
}

.input-field input:focus+label {
  color: #FFBF00 !important;
}

.row .input-field input:focus {
  border-bottom: 1px solid #FFBF00 !important;
  box-shadow: 0 1px 0 0 #FFBF00 !important
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
  border: 2px solid #FFBF00 !important;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
  background-color: #FFBF00 !important;
}

.features {
  background-color: rgba(255, 255, 255, .8);
  margin-right: 60px;
  border-radius: 3px;
  height: auto;
  font-size: 13px;
  color: #777;
  width: 18% !important;
  padding: 15px;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: .3s;
  .icon {
    font-size: 60px;
    display: inline-block;
    background-image: linear-gradient(to right, rgba(241, 196, 15, 0.8), rgba(241, 196, 15, 0.8));
    -webkit-background-clip: text;
    color: transparent;
  }
  .feature-box__text {
    line-height: 1.7;
  }
  h5 {
    font-size: 15px;
    font-weight: 500;
    color: rgb(70, 69, 69);
  }
}

.features:hover {
  transform: translateY(-15px) scale(1.03);
}
