<header>
<div class="background">


  <div class="navbar1 bordera">
    <a>FOOD</a>
    <a>EXERCISE</a>
    <a>TRY</a>
    <a>CONTACT</a>
    <a>LOGIN</a>
  </div>
  <div class="headBack">
    <h1>EAT<br><span class="changetext"> HEALTHY</span><span class="changetext"> Food</span></h1>
  </div>
  <div class="headbottom">
    <a class="tryoutbutton">Give it a shot</a>
  </div>
</div>
<div class="try">
  <div class="formsty">
    <div class="row">
      <div class="col">
          <form >
              <mat-form-field >
                <mat-label>Age</mat-label>
                  <input type="number"  matInput placeholder="Enter Age">
                </mat-form-field><br>
                <mat-radio-group>
                    <mat-radio-button class="mr-4 mb-2" value="1">Male</mat-radio-button>
                    <mat-radio-button value="2">Female</mat-radio-button>
                  </mat-radio-group><br>
                <mat-form-field >
                    <mat-label>Current wieght</mat-label>
                      <input type="number" max="3" matInput placeholder="Weight in kilos">
                    </mat-form-field><br>
                    <mat-form-field >
                        <mat-label>Current height</mat-label>
                          <input type="number" matInput placeholder="height in cm">
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-select placeholder="Level of Exercise">
                              <mat-option value="1">Little/No Exercise</mat-option>
                              <mat-option value="2">Moderate Exercise</mat-option>
                              <mat-option value="3">Intense Exercise</mat-option>

                            </mat-select>
                          </mat-form-field>
              </form>
      </div>
      <div class="col">
        <a class="caloriebtn">Calculate</a>
      </div>
    </div>

    </div>
</div>
<div class=" featuresmain">
    <div class="row">
        <div class="col features">
            <div class="feature-box">
                <i  class="icon icon-basic-world"></i>
                <h5>Check Calorie</h5>
                <p class="feature-box__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
                </p>
            </div>
        </div>

        <div class="col features">
        <div class="feature-box">
                <i class="icon icon-basic-world"></i>
                <h5>Track Calories</h5>
                <p class="feature-box__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
                </p>
            </div>
        </div>

        <div class="col features">
            <div class="feature-box">
                <i class="icon icon-basic-world"></i>
                <h5>Set Goals</h5>
                 <p class="feature-box__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
                </p>
            </div>
        </div>

        <div class="col features">
            <div class="feature-box">
                <i class="icon icon-basic-world"></i>
                <h5>Chat with bot</h5>
                <p class="feature-box__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
                </p>
            </div>
        </div>

</div>
</div>
</header>
<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 myCols">
                <h5>Get started</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Downloads</a></li>
                </ul>
            </div>
            <div class="col-sm-3 myCols">
                <h5>About us</h5>
                <ul>
                    <li><a href="#">Company Information</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Reviews</a></li>
                </ul>
            </div>
            <div class="col-sm-3 myCols">
                <h5>Support</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help desk</a></li>
                    <li><a href="#">Forums</a></li>
                </ul>
            </div>
            <div class="col-sm-3 myCols">
                <h5>Legal</h5>
                <ul>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="social-networks">
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="facebook"><i class="fab fa-facebook-square"></i></a>
        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
    </div>
    <div class="footer-copyright">
        <p>© 2016 Copyright Text </p>
    </div>
</footer>
<div>

</div>
