
<div *ngIf="z1" style="background-color: rgb(236, 235, 235);height: 100%; ">
<div class="row" >

  <div class="col s12 l6">
    <div class="col s12 l6">
      <h5>My Profile</h5>
      <img class="profile-img" src={{userdetails.photourl}} height="150px;">
    </div>
    <div style="margin-left: -19px;margin-top: 30px" class="col s12 l6">
      <div class="details">
      <p>{{userdetails.name}}</p>
      <p>{{userdetails.email}}</p>
      <P>I am &nbsp;{{userdetails.age}}</P>
      <p>{{userdetails.gender}}</p>
      <p>{{weightDisplay}}&nbsp;kg </p>
      <p>{{userdetails.height}}&nbsp;cm tall</p>
      <p>I am &nbsp;{{userdetails.activity}} active</p>
      <a class="weightupdate modal-trigger" (click)="openModal(1)"  data-target="modal3"><i class="fa fa-pencil-square"></i>Edit your info</a><br>
      <a class="weightupdate "(click)="showDialog()" ><i class="fa fa-pencil-square" ></i>Update you weight</a>


      </div>
    </div>
  </div>
  <div class="col s12 l6"></div>

</div>
<p-toast ></p-toast>

<p-chart type="line" style="z-index: 1000;"[data]="chartdata" (onDataSelect)="selectData($event)"></p-chart>


  <!-- Modal Structure -->
  <div id="modal3" class="modal mx modal-fixed-footer"  materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
    <div class="modal-content">
      <div *ngIf="z1">
      <h6>Update your profile</h6>
      <label class="lable">Name: &nbsp; &nbsp; &nbsp; &nbsp;</label>
      <input class="browser-default inp" type="text" [(ngModel)]="userdetails.name" pInputText /><br><br>
      <label class="lable">Age: &nbsp; &nbsp; &nbsp; &nbsp;</label>
      <input style="margin-left: 12px" class="browser-default inp" type="text" [(ngModel)]="userdetails.age" pInputText /><br><br>
      <label class="lable">Height: &nbsp; &nbsp; &nbsp; &nbsp;</label>
      <input class="browser-default inp" type="text" [(ngModel)]="userdetails.height" pInputText /><br><br>
      <label class="lable">Gender: &nbsp; &nbsp; &nbsp; &nbsp;</label>
      <p-radioButton name="groupname" value="male" label="Male" [(ngModel)]="userdetails.gender">Male</p-radioButton>&nbsp;
      <p-radioButton name="groupname" value="female" label="Female" [(ngModel)]="userdetails.gender">Female</p-radioButton>
<br>
<br>
<label class="lable">Activity: &nbsp; &nbsp; &nbsp; &nbsp;</label>
      <p-radioButton name="groupname1" value="Low" label="Low" [(ngModel)]="userdetails.activity">Low</p-radioButton>&nbsp;
      <p-radioButton name="groupname1" value="Medium" label="Medium" [(ngModel)]="userdetails.activity">Medium</p-radioButton>&nbsp;
      <p-radioButton name="groupname1" value="High" label="High" [(ngModel)]="userdetails.activity">High</p-radioButton>&nbsp;
      <br><br>
      <label class="lable">I want to: &nbsp; &nbsp; &nbsp; &nbsp;</label>
      <p-radioButton name="groupname2" value="Lose" label="Lose Weight" [(ngModel)]="userdetails.weightgoal">Lose weight</p-radioButton>&nbsp;
      <p-radioButton name="groupname2" value="Maintain"label="Maintain" [(ngModel)]="userdetails.weightgoal">Maintain</p-radioButton>&nbsp;
      <p-radioButton name="groupname2" value="Gain" label="Gain Weight" [(ngModel)]="userdetails.weightgoal">Gain weight</p-radioButton>&nbsp;
    </div>
    </div>
    <div class="modal-footer">
        <a  class="modal-close waves-effect  btn-flat" >Close</a>
      <a  class="modal-close waves-effect  btn-flat" (click)="update()">Save</a>
    </div>
  </div>

  <p-dialog   [(visible)]="display" [modal]="true" [responsive]="true" [positionLeft]="404" [positionTop]="71" [width]="350" [minWidth]="200" [minY]="70"
  [dismissableMask]="true" >
  <h5>Update weight</h5>
        <label style="width: 100%" class="lable">New Weight: &nbsp; &nbsp; &nbsp; &nbsp;</label>
              <input class="browser-default inp" type="text" name="updateWeight" [(ngModel)]="updateWeight" pInputText /><br><br>

  <p-footer>
      <button class="waves-effect  btn-flat"  (click)="display=false" >Close</button>
      <button class="waves-effect  btn-flat"  (click)="weightUpdate()" >Update</button>
  </p-footer>
</p-dialog>

</div>
