.row
{
  background-color: rgb(236, 235, 235);  margin: 0
}
.col
{
  margin-top: 5%;
}
.profile-img
{
  border-radius: 5px;
}
.details{
  padding-top: 35px !important;
}
.weightupdate:hover
{
  text-decoration: underline;
  cursor: pointer;

}
.mx
{
  width:50%; height: 350px;
}
@media only screen and (max-width: 600px) {
.details {
  padding-left: 20px;
}
.mx {
  width: 95% !important;
}
}
