
<div class="row">
  <div class="col s6">
    <div class="col s6">
      <h5>My Profile</h5>
      <img class="profile-img" src={{userdetails.photourl}} height="150px;">
    </div>
    <div class="col s6">
      <div class="details">
      <p>{{userdetails.name}}</p>
      <p>{{userdetails.email}}</p>
      <p>{{userdetails.gender}}</p>
      <p>{{userdetails.weight}}</p>
      <p>{{userdetails.height}}</p>
      <p>{{userdetails.activity}}</p>

      </div>
    </div>
  </div>
  <div class="col s6"></div>
</div>

