/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box !important;
  font-family: lato;
}
.mat-form-field-infix
{
  border-top: 0em !important;
}
body {

     zoom: 1.3;
   // add prefixed versions too.
}

.modal-overlay
{
  display: none !important;
}
.ui-widget-overlay {
  width: 0px !important;
  height: 0px !important;
}
.input-field label {
  top:0 !important;
}

body .ui-dialog .ui-dialog-content
{
  max-height: 388px !important;
  height: 388px !important;
}
body .ui-inputtext {
  width: 30% !important;
}
@media (max-width: 768px) {
body .ui-dialog {
left:1px !important;
    width: 314px !important;}
body .ui-inputtext {
  width: 75% !important;
}

}
::-webkit-scrollbar {
  width: 8px;

}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a6a6a6;
  box-shadow: inset 0 0 6px, rgba(0,0,0,.3)
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
  box-shadow: inset 0 0 6px, rgba(0,0,0,.3)

}
