/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: lato;
}
.mat-form-field-infix
{
  border-top: 0em !important;
}
body {

     zoom: 1.3;
   // add prefixed versions too.
}
// .cdk-overlay-connected-position-bounding-box
// {
//   left: 868px !important;
// }
