<div class="row home">

  <div  class="col s6 leftside">
      <div>

          <h5 class=" amber-text " style="margin-top: 20px; margin-bottom: 0px">Augest 2018</h5>
          <h4 class=" amber-text " style="margin: 0">{{zz | date : 'd'}}</h4>
        </div>
          <mat-form-field style="opacity:0 ; height:0px; width: 0px; position: absolute;top: -6px; left: 320px">
            <input matInput [matDatepicker]="picker" [(ngModel)]="zz" (ngModelChange)="onChange($event)" name="date">
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>


          <button class="calender" (click)="picker.open()">
            <i class="fa fa-calendar right"></i>Go to
          </button>

    <p-chart type="pie" [data]="data" [options]="options"></p-chart>
    <div class="row">
      <div class="col s6">
        <h6 class="left-align">Current totals</h6>
        <div class="col s6 ">
          <p class="left-align bold">Calories
          </p>
          <br>
          <p class=" purple-textleft-align bold">Carbs
          </p>
          <p class=" left-align green-text text-darken-3 bold">Protein
          </p>
          <p class=" amber-text text-darken-3left-align bold">Fat
          </p>
          <br>
          <p class=" purple-text teal-text darken-3left-align">Calories
          </p>
          <p class=" purple-textleft-align">Calories
          </p>
          <p class=" purple-textleft-align">Calories
          </p>
          <p class=" purple-textleft-align">Calories
          </p>
        </div>
        <div class="col s6">
          <p class=" purple-textleft-align">{{d}}
          </p>
          <br>
          <p class=" purple-textleft-align">{{b}}
          </p>
          <p class=" purple-textleft-align">{{c}}
          </p>
          <p class=" purple-textleft-align">{{a}}
          </p>
          <br>
          <p class=" purple-textleft-align">2100
          </p>
          <p class=" purple-textleft-align">2100
          </p>
          <p class=" purple-textleft-align">2100
          </p>
          <p class=" purple-textleft-align">2100
          </p>
        </div>
      </div>
      <div class="col s6" style="position: relative;">
        <h6 class="left-align">Target values</h6><span><a class=" editbtn modal-trigger" (click)="toggleDisplay()" data-target="modal2">Edit</a></span>
        <p class=" purple-textleft-align">{{tarcalorie}}
        </p>
        <br>
        <p class=" purple-textleft-align">{{tarcarbmin}}-{{tarcarbmax}}
        </p>
        <p class=" purple-textleft-align">{{tarpromin}}-{{tarpromax}}
        </p>
        <p class=" purple-textleft-align">{{tarfatmin}}-{{tarfatmax}}
        </p>
        <br>
        <p class=" purple-textleft-align">2100
        </p>
        <p class=" purple-textleft-align">2100
        </p>
      </div>
    </div>
  </div>
  <div class="col s6 rightside" [@listAnimation]="FoodList.length">
      <button class="button modal-trigger" (click)="openModal()" data-target="modal1">Add Food</button>

  <div id="modal1"  class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions" style="width:50%; height: 350px;z-index: 10000">
      <div class="modal-content">
        <h5>Add Food</h5>

        <div class="row">
          <form class="col s12">
            <div class="row modal-form-row">
              <div class="input-field col s12">
                <input id="food" [(ngModel)]="search" name="search" type="text" class="validate" tooltipPosition="top" pTooltip="Enter your username">
                <label for="food">Enter recipe</label>
              </div>
              <button class="waves-effect waves-light btn " (click)="searchFood()">Search</button>

            </div>

          </form>
        </div>
        <div style="display: block" class="row">
          <div class="col s12" [@listAnimation]="searchList.length">
            <div id="list" class="card horizontal foodlist" *ngFor="let food of searchList">
              <div class="card-image">
                <img style="width: 90px;" src={{food.recipe.image}}>
              </div>
              <div class="card-stacked">
                <div class="card-content">
                    <i class="fa fa-plus-circle"  (click)="ate(food.recipe.label,food)"></i>
                  <h6>{{food.recipe.label}}</h6>
                  <p>{{food.recipe.calories |number: '1.0-0'}}Calories</p>
                  <p>1 Servings</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-yellow btn-flat" (click)="closeModal()">Close</a>
      </div>
    </div>
   <div id="list" class="card horizontal foodlist"  *ngFor="let food of FoodList; let i = index" tooltipPosition="top" pTooltip="Enter your username">
      <div class="card-image">
        <img style="width: 90px;"  src={{food.recipe.image}}>
      </div>
      <div class="card-stacked">
        <div class="card-content">
           <i class="fa fa-ellipsis-v" mat-button [matMenuTriggerFor]="menu" aria-hidden="true"><a > </a></i>
          <mat-menu #menu="matMenu" class="selectoptions">
              <a mat-menu-item>Save Recipe</a>
              <a (click)="delete(food.recipe.label,i,zz)" mat-menu-item>Delete Recipe</a>
            </mat-menu>
          <h6 >{{food.recipe.label}}</h6>
          <p>{{food.recipe.calories   |number: '1.0-0'}} Calories</p>
          <p>1 Servings</p>
        </div>

      </div>

    </div>
    <mat-spinner *ngIf="loader"></mat-spinner>
  </div>




  <div id="modal2" [style.display]="display" class="modal modal-fixed-footer" style="width:50%; height: 350px;">
    <div class="modal-content">
      <h5>Target Nutrition</h5>

      <div class="row">
<label class="lable">Calories: &nbsp; &nbsp; &nbsp; &nbsp;</label>
<input class="browser-default inp" type="text" [(ngModel)]="editcalorie" pInputText /><br><br>
<label class="lable">Carbs: &nbsp; &nbsp; &nbsp; &nbsp;</label>
<input style="margin-left: 16px;" class="browser-default inp" type="text" [(ngModel)]="editcarbmin" pInputText />&nbsp; &nbsp;
<input class="browser-default inp" type="text" [(ngModel)]="editcarbmax" pInputText /><br><br>
<label class="lable">Protein: &nbsp; &nbsp; &nbsp; &nbsp;</label>
<input style="margin-left: 6px;" class="browser-default inp" type="text" [(ngModel)]="editpromin" pInputText />&nbsp; &nbsp;
<input class="browser-default inp" type="text" [(ngModel)]="editpromax" pInputText /><br><br>
<label class="lable">Fats: &nbsp; &nbsp; &nbsp; &nbsp;</label>
<input style="margin-left: 28px;" class="browser-default inp" type="text" [(ngModel)]="editfatmin" pInputText />&nbsp; &nbsp;
<input class="browser-default inp" type="text" [(ngModel)]="editfatmax" pInputText />

      </div>


    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-yellow btn-flat" (click)="save()">Save </a>
      <a class=" modal-action modal-close waves-effect waves-yellow btn-flat" (click)="toggleDisplay()">Close</a>
    </div>
  </div>

</div>





