<div class="row home">

  <div  class="col s12 m6 l6 leftside">
      <div>

          <h5 class=" amber-text " style="margin-top: 20px; margin-bottom: 0px">{{zz| date : 'MMMM' }} 2018</h5>
          <h4 class=" amber-text " style="margin: 0">{{zz | date : 'd'}}</h4>
        </div>
          <mat-form-field class="calenderposi">
            <input matInput [matDatepicker]="picker" [(ngModel)]="zz" (ngModelChange)="onChange($event)" name="date">
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>


          <button [disabled]="loader" class="calender tryoutbutton" (click)="picker.open()">
            <i style="padding-top: 5px" class="fa fa-calendar right"></i>Go to
          </button>

    <p-chart type="pie" [data]="data" [options]="options"></p-chart>
    <div class="row">
      <div class="col s6">
        <h6 class="left-align">Current totals</h6>
        <div class="col s6 ">
          <p style="color: #8B88FF" class="left-align bold">Calories
          </p>
          <br>
          <p style="color: #FF0000" class=" purple-textleft-align bold">Carbs
          </p>
          <p style="color:#003366" class=" left-align green-text text-darken-3 bold">Protein
          </p>
          <p style="color: #660099" class=" amber-text text-darken-3left-align bold">Fat
          </p>
          <br>

        </div>
        <div class="col s6">
          <p class=" purple-textleft-align">{{d}}
          </p>
          <br>
          <p class=" purple-textleft-align">{{b}}
          </p>
          <p class=" purple-textleft-align">{{c}}
          </p>
          <p class=" purple-textleft-align">{{a}}
          </p>
          <br>

        </div>
      </div>
      <div *ngIf="me" class="col m6 s6 l6" style="position: relative;">
        <h6 class="left-align">Target values</h6><span><a class=" editbtn modal-trigger" (click)="showDialog()" data-target="modal2">Edit</a></span>
        <p class=" purple-textleft-align">{{this.editcalorie}}
      </p>
        <br>
        <p class=" purple-textleft-align">{{this.editcarbmin}}-{{this.editcarbmax}}
        </p>
        <p class=" purple-textleft-align">{{this.editpromin}}-{{this.editpromax}}
        </p>
        <p class=" purple-textleft-align">{{this.editfatmin}}-{{this.editfatmax}}
        </p>
        <br>

      </div>
    </div>
  </div>
  <div class="col s12 l6 rightside" [@listAnimation]="FoodList.length">
      <button class="button modal-trigger" (click)="showDialog1()">Add Food</button>
    <p *ngIf="text" class="empty">Click on Add Food to add items</p>
  <div id="modal1"  class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions" style="width:50%; height: 350px;z-index: 1000000">
      <div class="modal-content">
       </div>
      <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-yellow btn-flat" (click)="closeModal()">Close</a>
      </div>
    </div>
   <div id="list" class="card horizontal foodlist"  *ngFor="let food of FoodList; let i = index" tooltipPosition="top" pTooltip="Enter your username">
      <div class="card-image">
        <img style="width: 90px;"  src={{food.recipe.image}}>
      </div>
      <div class="card-stacked">
        <div class="card-content">
           <i class="fa fa-ellipsis-v" mat-button [matMenuTriggerFor]="menu" aria-hidden="true"><a > </a></i>
          <mat-menu #menu="matMenu" class="selectoptions">
              <a mat-menu-item>Save Recipe</a>
              <a (click)="delete(food.recipe.label,i,zz)" mat-menu-item>Delete Recipe</a>
            </mat-menu>
          <h6 >{{food.recipe.label}}</h6>
          <p>{{food.recipe.calories   |number: '1.0-0'}} Calories</p>
          <p>{{+food.recipe.totalTime +1}}Servings</p>
        </div>

      </div>

    </div>
    <div *ngIf="loader" style="margin-left: 160px" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>






</div>

<p-dialog   [(visible)]="display" [modal]="true" [responsive]="true" [positionLeft]="404" [positionTop]="71" [height]="400" [width]="400" [minWidth]="200" [minY]="70"
[dismissableMask]="true" >
<h5>Target Nutrition</h5>

<div class="row">
<label class="lable">Calories: &nbsp; &nbsp; &nbsp; &nbsp;</label>
<input class="browser-default inp" type="text" [(ngModel)]="editcalorie" pInputText /><br>
<label class="lable">Carbs: &nbsp; &nbsp; &nbsp; &nbsp;</label>
<input style="margin-left: 16px;" class="browser-default inp" type="text" [(ngModel)]="editcarbmin" pInputText />&nbsp; &nbsp;
<input class="browser-default inp" type="text" [(ngModel)]="editcarbmax" pInputText /><br>
<label class="lable">Protein: &nbsp; &nbsp; &nbsp; &nbsp;</label>
<input style="margin-left: 6px;" class="browser-default inp" type="text" [(ngModel)]="editpromin" pInputText />&nbsp; &nbsp;
<input class="browser-default inp" type="text" [(ngModel)]="editpromax" pInputText /><br>
<label class="lable">Fats: &nbsp; &nbsp; &nbsp; &nbsp;</label>
<input style="margin-left: 28px;" class="browser-default inp" type="text" [(ngModel)]="editfatmin" pInputText />&nbsp; &nbsp;
<input class="browser-default inp" type="text" [(ngModel)]="editfatmax" pInputText />

</div>


<p-footer>
    <button class="waves-effect  btn-flat"  (click)="display=false" >Close</button>
    <button class="waves-effect  btn-flat" (click)="save()" >Update</button>
</p-footer>
</p-dialog>




<p-dialog class="searchfood" header="Add Food"  [(visible)]="display1" [modal]="true" [responsive]="true" [positionLeft]="404" [positionTop]="30" [height]="400"  [width]="409" [minWidth]="200" [minY]="70"
[dismissableMask]="true" >


<div class="row mb">
  <form class="col s12">
    <div class="row modal-form-row mb">
      <div class="input-field col s12">
        <input id="food" [(ngModel)]="search" name="search" type="text" class="validate" tooltipPosition="top" pTooltip="Enter your username">
        <label for="food">Enter recipe</label>
      </div>
      <button class="waves-effect waves-light btn-small" (click)="searchFood()">Search</button>

    </div>

  </form>
</div>
<div style="display: block; " class="row">
  <div class="col s12" [@listAnimation]="searchList.length">
    <div id="list" class="card horizontal foodlist" *ngFor="let food of searchList">
      <div class="card-image">
        <img style="width: 90px;" src={{food.recipe.image}}>
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <i class="fa fa-plus-circle"  (click)="ate(food.recipe.label,food)"></i>
          <h6>{{food.recipe.label}}</h6>
          <p>{{food.recipe.calories |number: '1.0-0'}}Calories</p>
          <p>1 Servings</p>
        </div>
      </div>
    </div>
  </div>
</div>


<p-footer>

</p-footer>
</p-dialog>
